body {
    height: 3000px;
}

.bottom-right {
    background-color: gray;
    width: 320px;
    height: 180px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.close-btn {
    position: absolute;
    top: -18px;
    left: -18px;
    background-color: black;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    font-family: Arial;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-time {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
}

